In [1]:
# Q1. Explain with an example each when to use a for loop and a while loop.
# Ans. 1)
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [3]:
color = [ "Red", "Green", "Blue" ]

In [5]:
for x in color:
    print (x)

Red
Green
Blue

In [6]:
# With the while loop we can execute a set of statements as long as a condition is true.

In [11]:
i = 0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [12]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
# and while loop.
# Ans. 2) Sum and product of the first 10 natural numbers using for loop

In [15]:
Sum = 0
Prod = 1
for i in range(1,11):
    Sum = Sum + i
    Prod = Prod * i
print("Sum of first 10 natural numbers = " , Sum)
print("Product of first 10 natural numbers = " , Prod)

Sum of first 10 natural numbers =  55
Product of first 10 natural numbers =  3628800

In [16]:
# Sum and product of the first 10 natural numbers using while loop

In [18]:
n = 1
Sum = 0
Prod = 1
while n < 11:
    Sum = Sum + n
    Prod = Prod * n
    n+=1
print("Sum of first 10 natural numbers = " , Sum)
print("Product of first 10 natural numbers = " , Prod)

Sum of first 10 natural numbers =  55
Product of first 10 natural numbers =  3628800

In [19]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
# Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.
# Ans. 3) Electricity bill of user per month

In [22]:
unit = int(input("Enter no. of units of electricity consumed this month : "))
b1,b2,b3,b4 = 0,0,0,0
for i in range(1,unit+1):
    if i>= 1 and i<=100:
        b1 += 4.5
    elif i>100 and i<=200:
        b2 += 6
    elif i>200 and i<=300:
        b3 += 10
    else:
        b4 += 20
total = b1+b2+b3+b4
print("Your electricity bill for this month is : " , total)

Enter no. of units of electricity consumed this month :  310

Your electricity bill for this month is :  2250.0

In [23]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.
# Ans. 4)

In [26]:
lst1 = []
lst2 = []
lst3 = []
n = 0
for i in range(1,101):
    lst1.append(i)
    lst2.append(i*i*i)
    if lst2[n]%4 == 0 or lst2[n]%5 == 0:
        lst3.append(i)
    n += 1
print(lst3)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [28]:
lst1 = []
lst2 = []
lst3 = []
n,i = 0,1
while n < 100:
    lst1.append(i)
    lst2.append(i*i*i)
    if lst2[n]%4 == 0 or lst2[n]%5 == 0:
        lst3.append(i)
    i += 1
    n += 1
print(lst3)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [29]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"
# Ans. 5)

In [33]:
lst = []
vow = "aeiouAEIOU"
st = "I want to become a data scientist"
for i in st:
    if i in vow:
        lst.append(i)
lst = "".join(lst)
s = str(lst)
print(s)
print(len(s))

Iaoeoeaaaiei
12